---
import Layout from '../layouts/Layout.astro';
import { Image } from 'astro:assets';
import profileImage from '../assets/foto-perfil.jpg';
import Buttons from '../components/Buttons.astro';

---
<Layout>
	<div style="display: flex; align-items: center; gap: 500px; margin-top: 50px; width: 90%;">
		<div style="flex: 1; text-align: left;">
			<h1 style="font-size: 2.5rem; margin: 0; text-align: left;">
					José Benavente
			</h1>
			<h2 id="role-text" style="margin: 0; text-align: left; color: #ff7b00; transition: opacity 0.5s ease-in-out;">
					Ingeniero civil industrial
			</h2>
			<p style="margin-top: 15px; color: #ccc;" text-align="justify">
			Ingeniero civil industrial con formación en Bigdata y ciencia de datos, con experiencia en proyectos de análisis de datos, visualización y desarrollo de modelos predictivos. Apasionado por la tecnología y la innovación, siempre buscando nuevas formas de aplicar mis habilidades para resolver problemas complejos y generar valor a través de los datos.
			</p>
			<Buttons />
		</div>
		<Image src={profileImage} alt="Foto de José Benavente" width={300} height={300} style="border-radius: 50%; object-fit: cover;" />

	</div>

	<script>
		const roles = ["Ingeniero civil industrial", "Data Engineer", "Data Analyst", "Data Scientist"];
		let index = 0;
		const roleElement = document.getElementById('role-text');

		setInterval(() => {
			if (roleElement) {
				roleElement.style.opacity = '0'; // Inicia el desvanecimiento
				
				setTimeout(() => {
					index = (index + 1) % roles.length;
					roleElement.textContent = roles[index];
					roleElement.style.opacity = '1'; // Vuelve a aparecer
				}, 500); // Espera 500ms (el tiempo exacto de la transición CSS)
			}
		}, 3000); // Cambia el texto cada 3000 milisegundos (3 segundos)
	</script>
</Layout>
