---
import Layout from '../layouts/Layout.astro';
import { Image } from 'astro:assets';
import profileImage from '../assets/foto-perfil.jpg';
import Buttons from '../components/Buttons.astro';
import backgroundImage from '../assets/background.jpeg';

---
<Layout>
<div class="index-background" style={`background-image: url('${backgroundImage.src}');`}>
	<div class="index-container">
		<div class="index-title">
			<h1 style="font-size: 2.5rem; margin: 0;">
					José Benavente
			</h1>
			<h2 id="role-text" style="margin: 0; color: #ff7b00; transition: opacity 0.5s ease-in-out;">
					Ingeniero civil industrial
			</h2>
			<p class="index-description" style="margin-top: 15px; color: #ccc;">
			Ingeniero civil industrial con formación en bigdata y ciencia de datos, tengo experiencia en proyectos de análisis de datos, visualización y desarrollo de modelos predictivos. Apasionado por la tecnología y la innovación, siempre buscando nuevas formas de aplicar mis habilidades para resolver problemas complejos y generar valor a través de los datos.
			</p>
			<Buttons />
		</div>
		<Image src={profileImage} alt="Foto de José Benavente" width={300} height={300} class="index-image" />
	</div>
</div>


	<script>
		const roles = ["Ingeniero civil industrial", "Data Engineer", "Data Analyst", "Data Scientist"];
		let index = 0;
		const roleElement = document.getElementById('role-text');

		setInterval(() => {
			if (roleElement) {
				roleElement.style.opacity = '0'; // Inicia el desvanecimiento
				
				setTimeout(() => {
					index = (index + 1) % roles.length;
					roleElement.textContent = roles[index];
					roleElement.style.opacity = '1'; // Vuelve a aparecer
				}, 500); // Espera 500ms (el tiempo exacto de la transición CSS)
			}
		}, 3000); // Cambia el texto cada 3000 milisegundos (3 segundos)
	</script>

	<style>
		.index-background {
			width: 100%;
			min-height: 50vh; /* Asegura que cubra al menos toda la pantalla */
			display: flex;
			justify-content: center;
			background-size: cover;
			background-position: center;
			background-repeat: no-repeat;
		}

		.index-container {
			display: flex;
			flex-direction: column-reverse; 
			align-items: center;
			gap: 0px;
			padding: 20px;
			margin: auto 0;
			width: 90%;
		}

		.index-title {
			flex: 1;
			display: flex;
			flex-direction: column;
			align-items: center;
			text-align: center;
		}

		.index-description {
			text-align: center; /* En móviles el texto se ve mejor centrado */
		}

		.index-image {
			border-radius: 50%;
			object-fit: cover;
		}

		/* Breakpoint para pantallas medianas/grandes (Desktop) */
		@media (min-width: 768px) {
			.index-container {
				flex-direction: row; /* Restaura la disposición lado a lado */
				gap: 50px; 
				justify-content: space-between;
			}
			.index-title {
				align-items: flex-start;
				text-align: left;
			}
			.index-description {
				text-align: justify;
				max-width: 600px; /* Limita el ancho máximo del texto para que no se estire demasiado */
			}

	
		}
	</style>
</Layout>
